
input, select, textarea, button, div, a {
    &:focus, &:active {
      outline: none;
    }
  }

  .flex-break {
    flex-basis: 100%;
    height: 0;
  }
  
  .break-column {
    flex-basis: 100%;
    width: 0;
  }  